body {
  margin: 0;
  padding: 0;
}

.App-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.App-header {
  display: flex;
  align-items: center;
  border-bottom: 3px solid #e0354b;
  color: #e0354b;
  font-size: 1.5rem;
  font-weight: bold;
  height: 25%;

}
.App-header img {
  height: 200px;
  width: 200px;
}
.App-body {
  align-items: center;
  justify-content: center;
  height: 75rem;
  position: relative;
  top: 5rem;
  left: 5rem;
  font-size: 18px;
}
.App-footer {
  height: 5rem;
  border-top: 3px solid #e0354b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
}
.border {
  bottom: 5rem;
  position: relative;
  border-top: 3px solid #e0354b;
}
.validation {
  position: absolute;
  top: 25rem;
  left: 5rem;
}
#password {
  margin-left: 2rem;
}
button {
  margin-left: 1rem;
}
